.aboutus{
  width: 1240px;
  margin: 78px auto 80px;
  .none{
    display: none;
  }
  .start{
    float: left;
    width: 602px;
    height: 662px;
    padding: 95px 0 0 64px;
    position: relative;
    i{
      background: #139AD0;
    }
    &-left{
      width: 3px;
      height: 206px;
      position: absolute;
      left: 280px;
      top: 180px;
    }
    &-top{
      width: 206px;
      height: 3px;
      position: absolute;
      top: 230px ;
      left: 250px;
    }
    &-right{
      width: 3px;
      height: 206px;
      position: absolute;
      left: 426px;
      top: 180px; 
    }
    &-bottom{
      width: 206px;
      height: 3px;
      position: absolute;
      left: 250px;
      top: 336px;
    }
  }
  .list-introduce{
    float: left;
    width: 602px;
    height: 662px;
    padding: 95px 0 0 64px;
    position: relative;
    h6{
      font-size: 27px;
      font-weight: 600;
      color: #000;
    }
    p{
      font-size: 16px;
      color: #595757;
      padding-top: 33px;
      width: 430px;
    }
    i{
      background: #139AD0;
    }
    .left{
      width: 3px;
      height: 206px;
      position: absolute;
      left: 30px;
      top: 0 
    }
    .top{
      width: 206px;
      height: 3px;
      position: absolute;
      top: 50px ;
      left: 0px;
    }
    .right{
      width: 3px;
      height: 206px;
      position: absolute;
      right: 30px;
      bottom: 0 
    }
    .bottom{
      width: 206px;
      height: 3px;
      position: absolute;
      bottom: 50px ;
      right: 0px;
    }
  }
  .list-img{
    float: right;
    width: 602px;
    height: 662px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}