@charset "UTF-8";

body, html {
  width: 100%;
  height: 100%;
  color: #7f7f7f;
  font-size: 16px;
  font-family: "MicrosoftYaHeiLight","pingfang sc", "苹方", "microsoft yahei", "微软雅黑";
  min-width: 980px; 
  /* overflow: hidden;
  overflow-y: scroll; */
}
a{
  cursor: pointer;
}

@media (max-width: 992px) {
  .map-item a {
    padding: 20px 8px !important; } }

@keyframes scale {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0.8); } }

img {
  display: block; }

.show-content {
  opacity: 0;
  opacity: 1 \9; }

@media screen and (min-width:960px) and (max-width:1100px){
  .h-banner{
    width: 100%;
    height: 515px !important; 
  }
  .about .banner-us{
    width: 100%;
    height: 257px !important; 
  }
}

@media screen and (min-width:1100px) and (max-width:1400px){
  .h-banner{
    width: 100%;
    height: 656px !important; 
  }
  .about .banner-us{
    width: 100%;
    height: 328px !important; 
  }
}

@media screen and (min-width:1400px) and (max-width:1600px){
  .h-banner{
    width: 100%;
    height: 750px !important; 
  }
  .about .banner-us{
    width: 100%;
    height: 375px !important; 
  }
}

@media screen and (min-width:1600px) and (max-width:1800px){
  .h-banner{
    width: 100%;
    height: 844px !important; 
  }
  .about .banner-us{
    width: 100%;
    height: 422px !important; 
  }
}

@media screen and (min-width:1800px) and (max-width:2000px){
  .h-banner{
    width: 100%;
    height: 937px !important; 
  }
  .about .banner-us{
    width: 100%;
    height: 468px !important; 
  }
}


.fade-in-up {
  -webkit-animation: fadeInUp 0.5s linear both;
  -moz-animation: fadeInUp 0.5s linear both;
  -ms-animation: fadeInUp 0.5s linear both;
  -o-animation: fadeInUp 0.5s linear both;
  animation: fadeInUp 0.5s linear both; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(50px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0; } }

@-moz-keyframes dash {
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash {
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes fade {
  100% {
    fill-opacity: 1; } }

@-moz-keyframes fade {
  100% {
    fill-opacity: 1; } }

@keyframes fade {
  100% {
    fill-opacity: 1; } }

.fade-left {
  -webkit-animation: fadeLeft 0.5s linear both;
  -moz-animation: fadeLeft 0.5s linear both;
  -ms-animation: fadeLeft 0.5s linear both;
  -o-animation: fadeLeft 0.5s linear both;
  animation: fadeLeft 0.5s linear both; }

@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-50px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -moz-transform: none; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

.fadeIn {
  animation: fadeIn 1s linear; }

.an-fadeOutLeft {
  -webkit-animation: fadeOutLeft .5s .2s ease both;
  -moz-animation: fadeOutLeft .5s .2s ease both; }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%); } }

@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0); }
  100% {
    opacity: 0;
    -moz-transform: translateX(-100%); } }

.an-fadeInLeft {
  -webkit-animation: an-fadeInLeft .5s .8s ease both;
  -moz-animation: an-fadeInLeft .5s .8s ease both;
  animation: an-fadeInLeft .5s .8s ease both; }

@-webkit-keyframes an-fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(150px); } }

@-moz-keyframes an-fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(150px); } }

@keyframes an-fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(150px); } }

.an-fadeInRight {
  -webkit-animation: an-fadeInRight .5s .8s ease both;
  -moz-animation: an-fadeInRight .5s .8s ease both;
  animation: an-fadeInRight .5s .8s ease both; }

@-webkit-keyframes an-fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-150px); } }

@-moz-keyframes an-fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(-150px); } }

@keyframes an-fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(-150px); } }

.float-y1 {
  -webkit-animation: floatUp1 2s ease;
  -moz-animation: floatUp1 2s ease;
  -ms-animation: floatUp1 2s ease;
  -o-animation: floatUp1 2s ease;
  animation: floatUp1 2s ease; }

@-webkit-keyframes floatUp1 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }

@-moz-keyframes floatUp1 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatUp1 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }

.float-y2 {
  -webkit-animation: floatUp2 2s ease;
  -moz-animation: floatUp2 2s ease;
  -ms-animation: floatUp2 2s ease;
  -o-animation: floatUp2 2s ease;
  animation: floatUp2 2s ease; }

@-webkit-keyframes floatUp2 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

@-moz-keyframes floatUp2 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatUp2 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

.float-y3 {
  -webkit-animation: floatUp3 1.5s ease;
  -moz-animation: floatUp3 1.5s ease;
  -ms-animation: floatUp3 1.5s ease;
  -o-animation: floatUp3 1.5s ease;
  animation: floatUp3 1.5s ease; }

@-moz-keyframes floatUp3 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@-webkit-keyframes floatUp3 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatUp3 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

.finance-move {
  -webkit-animation: financeMove 2s ease;
  -moz-animation: financeMove 2s ease;
  -ms-animation: financeMove 2s ease;
  -o-animation: financeMove 2s ease;
  animation: financeMove 2s ease; }

@-webkit-keyframes financeMove {
  0% {
    -webkit-transform: translateX(0) translateY(0); }
  50% {
    -webkit-transform: translateX(-53px) translateY(32px); }
  100% {
    -webkit-transform: translateX(0) translateY(0); } }

@-moz-keyframes financeMove {
  0% {
    -moz-transform: translateX(0) translateY(0); }
  50% {
    -moz-transform: translateX(-53px) translateY(32px); }
  100% {
    -moz-transform: translateX(0) translateY(0); } }

@keyframes financeMove {
  0% {
    transform: translateX(0) translateY(0); }
  50% {
    transform: translateX(-53px) translateY(32px); }
  100% {
    transform: translateX(0) translateY(0); } }

@-webkit-keyframes appearIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes appearIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes appearIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animation-scale {
  -webkit-animation: fadeInUp 0.5s linear both;
  -moz-animation: fadeInUp 0.5s linear both;
  -ms-animation: fadeInUp 0.5s linear both;
  -o-animation: fadeInUp 0.5s linear both;
  animation: fadeInUp 0.5s linear both; }
  .animation-scale .item-1 {
    -webkit-animation: fadeInUp 0.5s 0.2s linear;
    -moz-animation: fadeInUp 0.5s 0.2s linear;
    -ms-animation: fadeInUp 0.5s 0.2s linear;
    -o-animation: fadeInUp 0.5s 0.2s linear;
    animation: fadeInUp 0.5s 0.2s linear; }
  .animation-scale .item-2 {
    -webkit-animation: fadeInUp 0.5s 0.4s linear;
    -moz-animation: fadeInUp 0.5s 0.4s linear;
    -ms-animation: fadeInUp 0.5s 0.4s linear;
    -o-animation: fadeInUp 0.5s 0.4s linear;
    animation: fadeInUp 0.5s 0.4s linear; }
  .animation-scale .item-3 {
    -webkit-animation: fadeInUp 0.5s 0.6s linear;
    -moz-animation: fadeInUp 0.5s 0.6s linear;
    -ms-animation: fadeInUp 0.5s 0.6s linear;
    -o-animation: fadeInUp 0.5s 0.6s linear;
    animation: fadeInUp 0.5s 0.6s linear; }

.animation-process {
  -webkit-animation: fadeInUp 0.5s linear both;
  -moz-animation: fadeInUp 0.5s linear both;
  -ms-animation: fadeInUp 0.5s linear both;
  -o-animation: fadeInUp 0.5s linear both;
  animation: fadeInUp 0.5s linear both; }
  .animation-process .item-1 {
    -webkit-animation: fadeInUp 0.5s 0.6s linear both;
    -moz-animation: fadeInUp 0.5s 0.6s linear both;
    -ms-animation: fadeInUp 0.5s 0.6s linear both;
    -o-animation: fadeInUp 0.5s 0.6s linear both;
    animation: fadeInUp 0.5s 0.6s linear both; }
  .animation-process .item-2 {
    -webkit-animation: fadeInUp 0.5s 0.8s linear both;
    -moz-animation: fadeInUp 0.5s 0.8s linear both;
    -ms-animation: fadeInUp 0.5s 0.8s linear both;
    -o-animation: fadeInUp 0.5s 0.8s linear both;
    animation: fadeInUp 0.5s 0.8s linear both; }
  .animation-process .item-3 {
    -webkit-animation: fadeInUp 0.5s 1s linear both;
    -moz-animation: fadeInUp 0.5s 1s linear both;
    -ms-animation: fadeInUp 0.5s 1s linear both;
    -o-animation: fadeInUp 0.5s 1s linear both;
    animation: fadeInUp 0.5s 1s linear both; }
  .animation-process .item-4 {
    -webkit-animation: fadeInUp 0.5s 1.2s linear both;
    -moz-animation: fadeInUp 0.5s 1.2s linear both;
    -ms-animation: fadeInUp 0.5s 1.2s linear both;
    -o-animation: fadeInUp 0.5s 1.2s linear both;
    animation: fadeInUp 0.5s 1.2s linear both; }
  .animation-process .item-5 {
    -webkit-animation: fadeInUp 0.5s 1.4s linear both;
    -moz-animation: fadeInUp 0.5s 1.4s linear both;
    -ms-animation: fadeInUp 0.5s 1.4s linear both;
    -o-animation: fadeInUp 0.5s 1.4s linear both;
    animation: fadeInUp 0.5s 1.4s linear both; }
  .animation-process .item-6 {
    -webkit-animation: fadeInUp 0.5s 1.6s linear both;
    -moz-animation: fadeInUp 0.5s 1.6s linear both;
    -ms-animation: fadeInUp 0.5s 1.6s linear both;
    -o-animation: fadeInUp 0.5s 1.6s linear both;
    animation: fadeInUp 0.5s 1.6s linear both; }
  .animation-process .item-7 {
    -webkit-animation: fadeInUp 0.5s 1.8s linear both;
    -moz-animation: fadeInUp 0.5s 1.8s linear both;
    -ms-animation: fadeInUp 0.5s 1.8s linear both;
    -o-animation: fadeInUp 0.5s 1.8s linear both;
    animation: fadeInUp 0.5s 1.8s linear both; }
  .animation-process .item-8 {
    -webkit-animation: fadeInUp 0.5s 2s linear both;
    -moz-animation: fadeInUp 0.5s 2s linear both;
    -ms-animation: fadeInUp 0.5s 2s linear both;
    -o-animation: fadeInUp 0.5s 2s linear both;
    animation: fadeInUp 0.5s 2s linear both; }
  .animation-process .item-9 {
    -webkit-animation: fadeInUp 0.5s 2.2s linear both;
    -moz-animation: fadeInUp 0.5s 2.2s linear both;
    -ms-animation: fadeInUp 0.5s 2.2s linear both;
    -o-animation: fadeInUp 0.5s 2.2s linear both;
    animation: fadeInUp 0.5s 2.2s linear both; }
  .animation-process .item-10 {
    -webkit-animation: fadeInUp 0.5s 2.4s linear both;
    -moz-animation: fadeInUp 0.5s 2.4s linear both;
    -ms-animation: fadeInUp 0.5s 2.4s linear both;
    -o-animation: fadeInUp 0.5s 2.4s linear both;
    animation: fadeInUp 0.5s 2.4s linear both; }

.fadeLeftM {
  -webkit-animation: fadeLeftM 2s linear both;
  -moz-animation: fadeLeftM 2s linear both;
  -ms-animation: fadeLeftM 2s linear both;
  -o-animation: fadeLeftM 2s linear both;
  animation: fadeLeftM 2s linear both; }

@-webkit-keyframes fadeLeftM {
  0% {
    -webkit-transform: translateX(0); }
  10% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(100px);
    opacity: 1; } }

@-moz-keyframes fadeLeftM {
  0% {
    -moz-transform: translateX(0); }
  10% {
    opacity: 1; }
  100% {
    -moz-transform: translateX(100px);
    opacity: 1; } }

@keyframes fadeLeftM {
  0% {
    transform: translateX(0); }
  10% {
    opacity: 1; }
  100% {
    transform: translateX(100px);
    opacity: 1; } }

.fadeRightM {
  -webkit-animation: fadeRightM 2s linear both;
  -moz-animation: fadeRightM 2s linear both;
  -ms-animation: fadeRightM 2s linear both;
  -o-animation: fadeRightM 2s linear both;
  animation: fadeRightM 2s linear both; }

@-webkit-keyframes fadeRightM {
  0% {
    -webkit-transform: translateX(0); }
  10% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-100px);
    opacity: 1; } }

@-moz-keyframes fadeRightM {
  0% {
    -moz-transform: translateX(0); }
  10% {
    opacity: 1; }
  100% {
    -moz-transform: translateX(-100px);
    opacity: 1; } }

@keyframes fadeRightM {
  0% {
    transform: translateX(0); }
  10% {
    opacity: 1; }
  100% {
    transform: translateX(-100px);
    opacity: 1; } }
