

@import "base.css";
@import "common.css";
@import "reset.css";
@import "../assets/swiper/swiper.min.css";


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    border:2px solid #fff;
   
}

.swiper-pagination-bullet-active{
    background: #fff; 
    width: 10px !important;
    height: 10px !important;  
}